<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Outil de prédiction pour la détection de fraude bancaire">
		<meta name="author" content="">
		<title>BankObserver - IA Application for fraud detection</title>
		<meta property="og:title" content="BankObserver, BankObs" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="tmp/sample.jpg" />
		<meta property="og:description" content="Outil de prédiction pour la détection de fraude bancaire" />
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
	
		<!-- Bootstrap Core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	
		<!-- Custom CSS -->
		<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	
		<!-- Custom Fonts -->
		<script src="https://use.fontawesome.com/470b91f216.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	
		<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
	/>
	</head>
	<body>
		<section>
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
				  <a class="navbar-brand" href="{{ url_for('index') }}">BankObserver</a>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">	  
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			
					{% if g.user %}
					<li class="nav-item"><span>{{ g.user['username'] }}</span></li>
					<li class="nav-item"><a class="nav-link" href="">Logout</a> {% else %}</li>
			
					<li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">Login</a>
						{% endif %}
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Go</button>
				  </form>
				</div>
			  </div>
			</nav>
			<div class="container-fluid">
				<section class="content">
					<header>{% block header %}{% endblock %}</header>
					{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
					{% endfor %} {% block content %}{% endblock %}
				</section>
			</div>
			<footer class="pt-3 mt-4 text-muted border-top text-center pb-3">
				&copy; 2022
		
					<!-- Bootstrap Core JavaScript -->
					<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
					<!-- Plugin JavaScript -->
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
			</footer>
		</section>
	</body>
</html>

