{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}
<main>
	<div class="container py-4">
	  <div class="mb-4 p-5 rounded-3 d-flex">
		<div class="container-fluid pt-4">
		  <h1 class="display-5 fw-bold pb-3">BankObserver</h1>
		  <p class="col-md-6 pb-3 fs-4 ">
			L'I.A analyse et détecte les transactions frauduleuses. <br> lors des opérations  bancaires par mobile.
		  </p>
		  	{% if g.user %}
			  <a href="{{ url_for('dashboard')}}" class="btn btn-warning btn-lg">{{ message }}</a>
		  	{% else %}
			  <a href="{{ url_for('login')}}" class="btn btn-warning btn-lg">Se connecter</a>
			{% endif %}
		</div>
		<div class="col-md-6 pt-5">
			<img src="{{ url_for('static', filename='images/bankObserver.png')}}" class="img-fluid rounded-3" alt="logo_titre">
		</div>
	  </div>
  
	  <div class="row align-items-md-stretch">
		<div class="col-md-6">
		  <div class="h-100 p-5 ">
			<h2 class="fw-bold pb-5">Analyse de données</h2>
			<p class="fs-4">Cette algorithme a été optimisé pour analyser rapidement un grand volume de données.</p>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="h-100  rounded-3">
			<img src="{{ url_for('static', filename='images/bank.jpg')}}" class="img-fluid rounded-3" alt="mobile et données">
		  </div>
		</div>
	  </div>
	  <div class="row align-items-md-stretch">
		<div class="col-md-6">
		  <div class="h-100 rounded-3">
			<img src="{{ url_for('static', filename='images/bank2.jpg')}}" class="img-fluid rounded-3" alt="cadenas et cartes bancaires">
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="h-100 p-5 ">
			<h2 class="fw-bold pb-5">Prédiction de fraude</h2>
			<p class="fs-4">Il est aussi capable de traiter de<br> nouvelles données via son formulaire intégré.</p>
		  </div>
		</div>
	  </div>
	</div>
  </main>
{% endblock %}
