{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}
<div class="container">
	<h1>{% block title %}Log In{% endblock %}</h1>
	<p class="m-2">
	Enter your credentials
	</p>
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="floatingInput" placeholder="Your name">
		<label for="floatingInput">Username</label>
	  </div>
	  <div class="form-floating">
		<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
		<label for="floatingPassword">Password</label>
	  </div>
	<p class="m-2">
		<a href="{{ url_for('dashboard') }}" class="btn btn-primary">Enter</a>
	</p>
	<p class="m-2">
		<a href="#">Ask for help!</a> <br>
		<a href="{{ url_for('index') }}">Return to Homepage</a>
	</p>
	
</div>

	


{% endblock %}
